<!--
  Generated template for the Items page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Items</ion-title>
  </ion-navbar>
  <div id="addTodo" color="primary">
    <ion-item no-lines color="primary">
      <ion-input
        #newTodo
        (keyup.enter)="addTodo(newTodo)"
        type="text"
        placeholder="Add a new todo..." ></ion-input>
      <button
        ion-button
        id="clearInput"
        color="primary"
        clear
        large
        item-right
        (click)="clearInput(newTodo)"><ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </div>

</ion-header>


<ion-content>
  <!-- display errors here -->
  <ion-row responsive-sm *ngIf="(storeInfo | async)?.error">
    <ion-col>
      <strong>
          <h4  style="color:red">Error:&nbsp;{{ (storeInfo | async)?.error }}</h4>
      </strong>
    </ion-col>
  </ion-row>

  <!-- if we have show the list of stuff -->

    <ion-list>

      <ion-item-sliding #slidingItem *ngFor="let todo of (storeInfo | async)?.dataArray">

        <ion-item>
            <ion-label>{{ todo.description }}</ion-label>
            <ion-checkbox (click)="toggleComplete(todo)" [checked]="todo.isComplete"></ion-checkbox>
            <ion-badge
              item-right>{{ todo.deadline }}
            </ion-badge>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="primary" (click)="navToEdit(todo); slidingItem.close()"><ion-icon name="create"></ion-icon></button>
          <button ion-button color="danger" (click)="deleteTodo(todo)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-list>



</ion-content>
